<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
  <thead>
    <tr class="table-dark">
      <th routerLink="cars/" (click)="resetCurrentColor()">Colors</th>
    </tr>
  </thead>
  <tr
    *ngFor="let color of colors"
    (click)="setCurrentColor(color)"
    routerLink="cars/color/{{ color.id }}"
    [class]="getCurrentColorClass(color)"
  >
    <td>{{ color.name }}</td>
  </tr>
</table>
