<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
  <thead>
    <tr class="table-dark">
      <th routerLink="cars/" (click)="resetCurrentBrand()">Brands</th>
    </tr>
  </thead>
  <tr
    *ngFor="let brand of brands"
    (click)="setCurrentBrand(brand)"
    routerLink="cars/brand/{{ brand.id }}"
    [class]="getCurrentBrandClass(brand)"
  >
    <td>{{ brand.name }}</td>
  </tr>
</table>
